@model IEnumerable<LaundrySystem.UI.Entities.tblProduct>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Setup.cshtml";
}

@section Styles {
    <link href="~/assets/css/lib/data-table/buttons.bootstrap.min.css" rel="stylesheet" />
}
<div class="row">
    <div class="col-lg-8 p-r-0 title-margin-right">
        <div class="page-header">
            <div class="page-title">
                <h1>Hello, <span>Welcome Here</span></h1>
            </div>
        </div>
    </div>
    <!-- /# column -->
    <div class="col-lg-4 p-l-0 title-margin-left">
        <div class="page-header">
            <div class="page-title">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a asp-controller="Dashboard" asp-action="Index">Dashboard</a></li>
                    <li class="breadcrumb-item active">Product</li>
                </ol>
            </div>
        </div>
    </div>
    <!-- /# column -->
</div>

<p>
    <a asp-action="Create" class="btn btn-info">Create New</a>
</p>
<table class="table" id="grdProduct">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ServiceID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductPrice)
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.ProductImage)
            </th>*@
            <th>
                @Html.DisplayNameFor(model => model.ProductDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AddedDate)
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.CreatedBy)
            </th>*@
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ServiceID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductPrice)
                </td>
                @*<td>
                    @Html.DisplayFor(modelItem => item.ProductImage)
                </td>*@
                <td>
                    @Html.DisplayFor(modelItem => item.ProductDescription)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AddedDate)
                </td>
                @*<td>
                    @Html.DisplayFor(modelItem => item.CreatedBy)
                </td>*@
                <td>
                    <a asp-action="Edit" asp-route-id="@item.ProductID" class="btn btn-warning">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.ProductID" class="btn btn-dark">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.ProductID" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>



@section Scripts{
    <script>
        $("#grdProduct").dataTable({

        });
    </script>
    <script src="~/assets/js/lib/data-table/datatables.min.js"></script>
    <script src="~/assets/js/lib/data-table/dataTables.buttons.min.js"></script>
    <script src="~/assets/js/lib/data-table/buttons.flash.min.js"></script>
    <script src="~/assets/js/lib/data-table/jszip.min.js"></script>
    <script src="~/assets/js/lib/data-table/pdfmake.min.js"></script>
    <script src="~/assets/js/lib/data-table/vfs_fonts.js"></script>
    <script src="~/assets/js/lib/data-table/buttons.html5.min.js"></script>
    <script src="~/assets/js/lib/data-table/buttons.print.min.js"></script>
    <script src="~/assets/js/lib/data-table/datatables-init.js"></script>
    @*<script src="~/js/services.js"></script>*@
}