@model LaundrySystem.UI.Entities.tblService

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Setup.cshtml";
}

<div>
    <h4 class="text-info">Service Details</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ServiceName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ServiceName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ServiceImage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ServiceImage)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AddedDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AddedDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedBy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedBy)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ServiceId" class="btn btn-warning">Edit</a> |
    <a asp-action="Index" class="btn btn-primary">Back to List</a>
</div>
